<div class="Question-sideColumn Question-sideColumn--sticky">
    <div>
      <div class="Sticky">
        <div class="Card">
          <div class="Card-header SimilarQuestions-title">
            <div class="Card-headerText">相关问题</div>
          </div>
          <div class="Card-section SimilarQuestions-list">
            <div class="SimilarQuestions-item">
              <a class="Button Button--plain" type="button" href="#">问题可以很长很长很长很长很长很长很长很长很长</a>
              99 个回答
            </div>
            <div class="SimilarQuestions-item">
              <a class="Button Button--plain" type="button" href="#">问题可以很长很长很长很长很长很长很长很长很长</a>
              99 个回答
            </div>
            <div class="SimilarQuestions-item">
              <a class="Button Button--plain" type="button" href="#">问题可以很长很长很长很长很长很长很长很长很长</a>
              99 个回答
            </div>
            <div class="SimilarQuestions-item">
              <a class="Button Button--plain" type="button" href="#">问题可以很长很长很长很长很长很长很长很长很长</a>
              99 个回答
            </div>
            <div class="SimilarQuestions-item">
              <a class="Button Button--plain" type="button" href="#">问题可以很长很长很长很长很长很长很长很长很长</a>
              99 个回答
            </div>
          </div>
        </div>
        <%- include ./footer.ejs.html %>
      </div>
    </div>
  </div>